___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___


<img alt="File:Cars in traffic in Auckland, New Zealand - copyright-free photo released to public domain.jpg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Cars_in_traffic_in_Auckland%2C_New_Zealand_-_copyright-free_photo_released_to_public_domain.jpg/800px-Cars_in_traffic_in_Auckland%2C_New_Zealand_-_copyright-free_photo_released_to_public_domain.jpg?20190503075536" decoding="async" width="400" height="250" srcset="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Cars_in_traffic_in_Auckland%2C_New_Zealand_-_copyright-free_photo_released_to_public_domain.jpg/1200px-Cars_in_traffic_in_Auckland%2C_New_Zealand_-_copyright-free_photo_released_to_public_domain.jpg?20190503075536 1.5x, https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Cars_in_traffic_in_Auckland%2C_New_Zealand_-_copyright-free_photo_released_to_public_domain.jpg/1599px-Cars_in_traffic_in_Auckland%2C_New_Zealand_-_copyright-free_photo_released_to_public_domain.jpg?20190503075536 2x" data-file-width="5184" data-file-height="3456">

# WELCOME!

## Introduction
Welcome to "***AutoScout Data Analysis Project***". This is the capstone project of ***Data Analysis*** Module. **Auto Scout** data which using for this project, scraped from the on-line car trading company in 2019, contains many features of 9 different car models. In this project, you will have the opportunity to apply many commonly used algorithms for Data Cleaning and Exploratory Data Analysis by using many Python libraries such as Numpy, Pandas, Matplotlib, Seaborn, Scipy you will analyze clean dataset.

The project consists of 3 parts:
* First part is related with 'data cleaning'. It deals with Incorrect Headers, Incorrect Format, Anomalies, Dropping useless columns.
* Second part is related with 'filling data'. It deals with Missing Values. Categorical to numeric transformation is done.
* Third part is related with 'handling outliers of data' via Visualisation libraries. Some insights are extracted.

# PART- 1 `( Data Cleaning )`

In [1]:
import json
import pandas as pd
from skimpy import clean_columns
import numpy as np
import re

In [2]:
df = pd.read_json("scout_car.json",lines=True)

In [3]:
#there 15919 rows and 54 columns in dataframe
df.shape

(15919, 54)

In [4]:
df.head()

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,...,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,NaN,...,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,NaN,...,[\nLangstreckenfahrzeug daher die hohe Kilomet...,[\n4 (Green)\n],[\n7\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,NaN,...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...",[\n4 (Green)\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.4 TDi Design S tronic,Sedans,14500,None,"73,000 km",08/2016,1 previous owner,NaN,...,"[\nAudi A1: , - 1e eigenaar , - Perfecte staat...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,Sedans,16790,None,"16,200 km",05/2016,1 previous owner,NaN,...,"[\n, Technik & Sicherheit:, Xenon plus, Klimaa...",NaN,NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.tail()

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,...,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
15914,https://www.autoscout24.com//offers/renault-es...,Renault Espace,Blue dCi 200CV EDC Executive 4Control,Van,39950,VAT deductible,- km,-/-,None,NaN,...,[\nVettura visionabile nella sede in Via Roma ...,NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
15915,https://www.autoscout24.com//offers/renault-es...,Renault Espace,"TCe 225 EDC GPF LIM Deluxe Pano,RFK",Van,39885,VAT deductible,"9,900 km",01/2019,1 previous owner,NaN,...,"[\nDach: Panorama-Glas-Schiebedach, Lackierung...",NaN,[\n7\n],[\nGermany\n],NaN,NaN,"[[], [], []]",\nin 5 days from ordering\n,NaN,NaN
15916,https://www.autoscout24.com//offers/renault-es...,Renault Espace,Blue dCi 200 EDC Initiale Paris Leder LED Navi...,Van,39875,VAT deductible,15 km,03/2019,1 previous owner,NaN,...,"[\n, Getriebe:, Automatik, Technik:, Bordcom...",NaN,[\n6\n],[\nAustria\n],NaN,NaN,NaN,\nin 120 days from ordering\n,NaN,NaN
15917,https://www.autoscout24.com//offers/renault-es...,Renault Espace,"Blue dCi 200CV EDC Business , NUOVA DA IMMATRI...",Van,39700,VAT deductible,10 km,06/2019,None,NaN,...,"[\nDEK:[2691331], Renault Espace Blue dCi 200C...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
15918,https://www.autoscout24.com//offers/renault-es...,Renault Espace,INITIALE PARIS TCe 225 EDC GPF NAVI SHZ AUX,Van,40999,VAT deductible,- km,01/2019,1 previous owner,NaN,...,"[\n, Sicherheit Airbags:, , Seitenairbag, , ...",[\n4 (Green)\n],NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#column names should be converted to standard names
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kW', 'hp', 'Type',
       'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty',
       'Full Service', 'Non-smoking Vehicle', 'null', 'Make', 'Model',
       'Offer Number', 'First Registration', 'Body Color', 'Paint Type',
       'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors',
       'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement',
       'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption',
       'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'description', 'Emission Label', 'Gears', 'Country version',
       'Electricity consumption', 'Last Service Date', 'Other Fuel Types',
       'Availability', 'Last Timing Belt Service Date', 'Available from'],
      dtype='object')

In [7]:
#notice that clean_columns takes dataframe and returns a dataframe with manipulated column names
proper_column_names=clean_columns(pd.DataFrame(data=[],columns=df.columns)).columns
proper_column_names

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'k_w', 'hp', 'type',
       'previous_owners', 'next_inspection', 'inspection_new', 'warranty',
       'full_service', 'non_smoking_vehicle', 'null', 'make', 'model',
       'offer_number', 'first_registration', 'body_color', 'paint_type',
       'body_color_original', 'upholstery', 'body', 'nr_of_doors',
       'nr_of_seats', 'model_code', 'gearing_type', 'displacement',
       'cylinders', 'weight', 'drive_chain', 'fuel', 'consumption',
       'co_2_emission', 'emission_class', 'comfort_&_convenience',
       'entertainment_&_media', 'extras', 'safety_&_security', 'description',
       'emission_label', 'gears', 'country_version', 'electricity_consumption',
       'last_service_date', 'other_fuel_types', 'availability',
       'last_timing_belt_service_date', 'available_from'],
      dtype='object')

In [8]:
#reassign column names
df.columns=proper_column_names
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'k_w', 'hp', 'type',
       'previous_owners', 'next_inspection', 'inspection_new', 'warranty',
       'full_service', 'non_smoking_vehicle', 'null', 'make', 'model',
       'offer_number', 'first_registration', 'body_color', 'paint_type',
       'body_color_original', 'upholstery', 'body', 'nr_of_doors',
       'nr_of_seats', 'model_code', 'gearing_type', 'displacement',
       'cylinders', 'weight', 'drive_chain', 'fuel', 'consumption',
       'co_2_emission', 'emission_class', 'comfort_&_convenience',
       'entertainment_&_media', 'extras', 'safety_&_security', 'description',
       'emission_label', 'gears', 'country_version', 'electricity_consumption',
       'last_service_date', 'other_fuel_types', 'availability',
       'last_timing_belt_service_date', 'available_from'],
      dtype='object')

In [9]:
#one more action to rename two column names
df.rename(columns={'k_w':'kw','co_2_emission':'co2_emission', 'comfort_&_convenience': 'comfort_convenience','safety_&_security':'safety_security','entertainment_&_media':'entertainment_media'}, inplace=True)

In [10]:
#all column names are now proper to use
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kw', 'hp', 'type',
       'previous_owners', 'next_inspection', 'inspection_new', 'warranty',
       'full_service', 'non_smoking_vehicle', 'null', 'make', 'model',
       'offer_number', 'first_registration', 'body_color', 'paint_type',
       'body_color_original', 'upholstery', 'body', 'nr_of_doors',
       'nr_of_seats', 'model_code', 'gearing_type', 'displacement',
       'cylinders', 'weight', 'drive_chain', 'fuel', 'consumption',
       'co2_emission', 'emission_class', 'comfort_convenience',
       'entertainment_media', 'extras', 'safety_security', 'description',
       'emission_label', 'gears', 'country_version', 'electricity_consumption',
       'last_service_date', 'other_fuel_types', 'availability',
       'last_timing_belt_service_date', 'available_from'],
      dtype='object')

### Inital Analysis: Missing Values

First of all, let us look at missing values and drop the features with missing values more than 90%.

In [11]:
#express the missing values in terms of percentages.
df.isnull().sum()*100 / df.shape[0]

url                                0.000000
make_model                         0.000000
short_description                  0.288963
body_type                          0.376908
price                              0.000000
vat                               28.349771
km                                 0.000000
registration                       0.000000
prev_owner                        42.892141
kw                               100.000000
hp                                 0.000000
type                               0.012564
previous_owners                   41.711163
next_inspection                   77.793831
inspection_new                    75.299956
warranty                          34.047365
full_service                      48.395000
non_smoking_vehicle               54.915510
null                               0.000000
make                               0.000000
model                              0.000000
offer_number                      19.944720
first_registration                10.032037
body_color                         3.750236
paint_type                        36.258559
body_color_original               23.613292
upholstery                        23.368302
body                               0.376908
nr_of_doors                        1.331742
nr_of_seats                        6.137320
model_code                        68.729192
gearing_type                       0.000000
displacement                       3.115774
cylinders                         35.680633
weight                            43.809285
drive_chain                       43.080596
fuel                               0.000000
consumption                       11.973114
co2_emission                      11.357497
emission_class                    18.977323
comfort_convenience                5.779257
entertainment_media                8.631195
extras                            18.606696
safety_security                    6.168729
description                        0.000000
emission_label                    74.967021
gears                             29.599849
country_version                   52.346253
electricity_consumption           99.139393
last_service_date                 96.444500
other_fuel_types                  94.472015
availability                      96.011056
last_timing_belt_service_date     99.899491
available_from                    98.291350
dtype: float64

In [12]:
#missing values in dataframes
def df_nans(df, limit):
    missing = df.isnull().sum()*100 / df.shape[0]
    return missing.loc[lambda x : x >= limit]
#missing values in series
def column_nans(serial):
    # display percentage of nans in a Series
    return serial.isnull().sum()*100 / serial.shape[0]

In [13]:
df_nans(df, 90)

kw                               100.000000
electricity_consumption           99.139393
last_service_date                 96.444500
other_fuel_types                  94.472015
availability                      96.011056
last_timing_belt_service_date     99.899491
available_from                    98.291350
dtype: float64

In [14]:
#take the column names with higher missing values
drop_columns = df_nans(df, 90).index
#drop them
df.drop(drop_columns, axis=1, inplace=True)
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'hp', 'type', 'previous_owners',
       'next_inspection', 'inspection_new', 'warranty', 'full_service',
       'non_smoking_vehicle', 'null', 'make', 'model', 'offer_number',
       'first_registration', 'body_color', 'paint_type', 'body_color_original',
       'upholstery', 'body', 'nr_of_doors', 'nr_of_seats', 'model_code',
       'gearing_type', 'displacement', 'cylinders', 'weight', 'drive_chain',
       'fuel', 'consumption', 'co2_emission', 'emission_class',
       'comfort_convenience', 'entertainment_media', 'extras',
       'safety_security', 'description', 'emission_label', 'gears',
       'country_version'],
      dtype='object')

In [15]:
#drop the null named feature
df.drop("null", axis=1, inplace=True)

In [16]:
#Now, there 47 features left.
df.shape

(15919, 46)

## Examination of all features

### Featue: url

In [17]:
df.url.value_counts(dropna=False)

https://www.autoscout24.com//offers/audi-a1-sportback-1-4-tdi-s-tronic-xenon-navi-klima-diesel-black-bdab349a-caa5-41b0-98eb-c1345b84445e                  1
https://www.autoscout24.com//offers/opel-insignia-bus-inno-2-0-cdti-aut-navi-bi-xe-led-e6-diesel-black-8710b253-dd98-4ed0-9d46-cbad2d79532b                1
https://www.autoscout24.com//offers/opel-insignia-sport-tourer-opel-sport-tourer-1-6-cdti-136-ch-a-c-diesel-silver-10b7463b-9f56-4348-af35-df3432b2b585    1
https://www.autoscout24.com//offers/opel-insignia-2-0cdti-st-business-innovation-navi-bt-diesel-black-ba5a3368-dedc-4e51-9127-3976b26e93c2                 1
https://www.autoscout24.com//offers/opel-insignia-sport-tourer-opel-sport-tourer-1-6-cdti-136-ch-a-c-diesel-silver-7b52f054-78d3-4d5e-9370-8a7d081d7edd    1
                                                                                                                                                          ..
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-black-cf50f7b1-4d7b-466f-93a2-4e11ec0b4107                        1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-grey-3f47eb34-15c4-4763-860d-78fcbbd2c9ff                         1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-silver-f7a4bc95-b2ef-4bac-9497-6bcbcd05db0b                       1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-silver-1c94c7a2-67b5-49ca-ae42-42a6800fb3f5                       1
https://www.autoscout24.com//offers/renault-espace-initiale-paris-tce-225-edc-gpf-navi-shz-aux-gasoline-grey-0bd690d9-7e93-4cab-bc5a-9d5b63402481          1
Name: url, Length: 15919, dtype: int64

In [18]:
# A data analyst should primarily benefit from all incoming data
# But, it is no need for url since this information can be obtained from other features as well.

df.drop("url", axis=1, inplace=True)

### Features: make_model,  make and model

In [19]:
#start with first column and check for non values
df.make_model.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: make_model
Non-Null Count  Dtype
--------------  -----
15919 non-null  object
dtypes: object(1)
memory usage: 124.5+ KB

In [20]:
#there is no null values and all values are proper
df.make_model.value_counts()

Audi A3           3097
Audi A1           2614
Opel Insignia     2598
Opel Astra        2526
Opel Corsa        2219
Renault Clio      1839
Renault Espace     991
Renault Duster      34
Audi A2              1
Name: make_model, dtype: int64

In [21]:
df.make.value_counts()

\nOpel\n       7343
\nAudi\n       5712
\nRenault\n    2864
Name: make, dtype: int64

In [22]:
df["make"] = df.make.str.strip('\n')

In [23]:
df.make.value_counts(dropna=False)

Opel       7343
Audi       5712
Renault    2864
Name: make, dtype: int64

In [24]:
df.model.astype("str").value_counts(dropna=False)

['\n', 'A3', '\n']          3097
['\n', 'A1', '\n']          2614
['\n', 'Insignia', '\n']    2598
['\n', 'Astra', '\n']       2526
['\n', 'Corsa', '\n']       2219
['\n', 'Clio', '\n']        1839
['\n', 'Espace', '\n']       991
['\n', 'Duster', '\n']        34
['\n', 'A2', '\n']             1
Name: model, dtype: int64

In [25]:
df["model"].transform(lambda x: x.str[1])

0            A1
1            A1
2            A1
3            A1
4            A1
          ...
15914    Espace
15915    Espace
15916    Espace
15917    Espace
15918    Espace
Name: model, Length: 15919, dtype: object

In [26]:
df["model"] = df.model.str[1]

In [27]:
df.model.value_counts(dropna=False)

A3          3097
A1          2614
Insignia    2598
Astra       2526
Corsa       2219
Clio        1839
Espace       991
Duster        34
A2             1
Name: model, dtype: int64

__Decision:__ make_model contains the information in make and model. So, let us drop make and model features.

In [28]:
df.drop(['model','make'], axis=1, inplace=True)

## Feature: short_description

In [29]:
df.short_description.value_counts(dropna=False)

SPB 1.6 TDI 116 CV S tronic Sport                 64
None                                              46
1.4 66kW (90CV) Selective                         40
MOVE KLIMA CD USB ALLWETTER BLUETOOTH             38
SPB 30 TDI S tronic Business                      35
                                                  ..
K Sports Tourer Business **Navi*Voll**             1
1.0 Turbo ecoFLEX Automatic Elective Park Navi     1
1.6 CDTI Business *Navi*Automatik*Spurh.*          1
1.6 136 CV Automatica Navi E 6 Garanzia Full       1
TCe 225 EDC GPF LIM Deluxe Pano,RFK                1
Name: short_description, Length: 10002, dtype: int64

In [30]:
#all inforamtion included in other features
df.drop("short_description", axis=1, inplace=True)

## Feature: description

In [31]:
df['description']

0        [\n, Sicherheit:,  , Deaktivierung für Beifahr...
1        [\nLangstreckenfahrzeug daher die hohe Kilomet...
2        [\n, Fahrzeug-Nummer: AM-95365,  , Ehem. UPE 2...
3        [\nAudi A1: , - 1e eigenaar , - Perfecte staat...
4        [\n, Technik & Sicherheit:, Xenon plus, Klimaa...
                               ...
15914    [\nVettura visionabile nella sede in Via Roma ...
15915    [\nDach: Panorama-Glas-Schiebedach, Lackierung...
15916    [\n, Getriebe:,  Automatik, Technik:,  Bordcom...
15917    [\nDEK:[2691331], Renault Espace Blue dCi 200C...
15918    [\n, Sicherheit Airbags:,  , Seitenairbag,  , ...
Name: description, Length: 15919, dtype: object

In [32]:
#no need for the model
df.drop("description", axis=1, inplace=True)

### Features: body and body_type

In [33]:
#examine body_type column and notice that there are null values
df.body_type.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: body_type
Non-Null Count  Dtype
--------------  -----
15859 non-null  object
dtypes: object(1)
memory usage: 124.5+ KB

In [34]:
#all values are in good shape
df.body_type.value_counts()

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [35]:
df.body.astype('str').value_counts(dropna=False)

['\n', 'Sedans', '\n']           7903
['\n', 'Station wagon', '\n']    3553
['\n', 'Compact', '\n']          3153
['\n', 'Van', '\n']               783
['\n', 'Other', '\n']             290
['\n', 'Transporter', '\n']        88
nan                                60
['\n', 'Off-Road', '\n']           56
['\n', 'Coupe', '\n']              25
['\n', 'Convertible', '\n']         8
Name: body, dtype: int64

Drop the body since both features contain same information.

In [36]:
df.drop("body", axis = 1, inplace = True)

### Feature: price

In [37]:
#check the price column and see there is no null values
df.price.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: price
Non-Null Count  Dtype
--------------  -----
15919 non-null  int64
dtypes: int64(1)
memory usage: 124.5 KB

In [38]:
#minimum price is $13 and maximum price $74600
df.price.describe()

count    15919.000000
mean     18019.896727
std       7386.169409
min         13.000000
25%      12850.000000
50%      16900.000000
75%      21900.000000
max      74600.000000
Name: price, dtype: float64

### Feature: vat (value added taxes)

In [39]:
#check vat column and there are null values
df.vat.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: vat
Non-Null Count  Dtype
--------------  -----
11406 non-null  object
dtypes: object(1)
memory usage: 124.5+ KB

In [40]:
#there are mainly two values, which are proper to use
df.vat.value_counts()

VAT deductible      10980
Price negotiable      426
Name: vat, dtype: int64

### Feature: km (kilometer)

In [41]:
#Focus on km column and there is no null values
df.km.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: km
Non-Null Count  Dtype
--------------  -----
15919 non-null  object
dtypes: object(1)
memory usage: 124.5+ KB

In [42]:
#although there is no null values, but there is "- km" values
df.km.value_counts()

10 km        1045
- km         1024
1 km          367
5 km          170
50 km         148
             ...
67,469 km       1
43,197 km       1
10,027 km       1
35,882 km       1
57 km           1
Name: km, Length: 6690, dtype: int64

In [43]:
#Replace "- km" with np.nan
df.km=df.km.replace("- km",np.nan)

In [44]:
#get rid of 'km' and ','
df.km=df.km.str.replace(" km","")
df.km=df.km.str.replace(",","")

In [45]:
#convert data type to integer
df['km'].astype(float)

0        56013.0
1        80000.0
2        83450.0
3        73000.0
4        16200.0
          ...
15914        NaN
15915     9900.0
15916       15.0
15917       10.0
15918        NaN
Name: km, Length: 15919, dtype: float64

### Features: registration and first_registration

In [46]:
#check registration column and there is no null values
df.registration.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: registration
Non-Null Count  Dtype
--------------  -----
15919 non-null  object
dtypes: object(1)
memory usage: 124.5+ KB

In [47]:
#Although there is no null values, there are "-/-".
df.registration.value_counts()

-/-        1597
03/2018     695
02/2019     585
05/2018     572
03/2019     543
01/2019     541
04/2018     541
02/2018     539
03/2016     536
04/2016     532
06/2018     532
01/2018     511
04/2019     506
02/2016     472
03/2017     471
05/2016     459
06/2016     452
05/2019     440
06/2017     409
05/2017     404
07/2018     396
04/2017     380
01/2016     376
02/2017     368
01/2017     306
08/2018     285
06/2019     224
07/2017     215
11/2017     180
07/2016     176
10/2016     160
10/2017     154
09/2017     149
11/2016     142
09/2018     141
09/2016     141
12/2016     134
12/2017     123
08/2017     114
11/2018     110
12/2018     103
10/2018      97
08/2016      94
07/2019       6
09/2019       5
08/2019       1
11/2019       1
12/2019       1
Name: registration, dtype: int64

In [48]:
df["first_registration"].value_counts(dropna=False)

[\n, 2018, \n]    4522
[\n, 2016, \n]    3674
[\n, 2017, \n]    3273
[\n, 2019, \n]    2853
NaN               1597
Name: first_registration, dtype: int64

In [49]:
#let us clean all values
for i in df.index:
    if type(df.at[i,"first_registration"])==list:
        temp=df.at[i,"first_registration"]
        for k in temp:
            k=k.replace("\n","")
            if k!='':
                df.at[i,"first_registration"]=str.strip(k)

In [50]:
df["first_registration"].value_counts(dropna=False)

2018    4522
2016    3674
2017    3273
2019    2853
NaN     1597
Name: first_registration, dtype: int64

In [51]:
#the data was collected in year 2019
#it is better to define the age of the cars for modelling
df['age'] = 2019 - df['first_registration'].astype(float)

In [52]:
df.age.value_counts()

1.0    4522
3.0    3674
2.0    3273
0.0    2853
Name: age, dtype: int64

In [53]:
#drop first_registration since new feature is age.
#drop registration since no need to use months
df.drop(["registration", "first_registration"], axis=1, inplace=True)

### Feature: prev_owner and previous_owners

In [54]:
#check previous owner column and see that there are null values
df.prev_owner.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: prev_owner
Non-Null Count  Dtype
--------------  -----
9091 non-null   object
dtypes: object(1)
memory usage: 124.5+ KB

In [55]:
#See the count of values
df.prev_owner.value_counts()

1 previous owner     8294
2 previous owners     778
3 previous owners      17
4 previous owners       2
Name: prev_owner, dtype: int64

In [56]:
#Get rid of string values and leave only numerical values
df.prev_owner=df.prev_owner.str.replace(r"[^0-9]+", "",regex=True)

In [57]:
#then convert into float
df.prev_owner=df.prev_owner.astype(float)
#check again
df.prev_owner.value_counts()

1.0    8294
2.0     778
3.0      17
4.0       2
Name: prev_owner, dtype: int64

In [58]:
#check again previous owner column
df.previous_owners.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: previous_owners
Non-Null Count  Dtype
--------------  -----
9279 non-null   object
dtypes: object(1)
memory usage: 124.5+ KB

In [59]:
df.previous_owners.value_counts()

\n1\n                                                                                        8101
\n2\n                                                                                         766
\n0\n                                                                                         163
\n3\n                                                                                          17
[\n1\n, \n168 g CO2/km (comb)\n]                                                               13
                                                                                             ...
[\n1\n, \n111 g CO2/km (comb)\n]                                                                1
[\n1\n, \nEuro 6\n]                                                                             1
[\n2\n, \n119 g CO2/km (comb)\n]                                                                1
[\n1\n, \n, 6.6 l/100 km (comb), \n, 8.1 l/100 km (city), \n, 5.7 l/100 km (country), \n]       1
[\n1\n, \n142 g CO2/km (comb)\n]                                                                1
Name: previous_owners, Length: 102, dtype: int64

In [60]:
#Let us see all values except entries with "km" and "Euro 6"
temp=[]
for i in df.previous_owners:
    if type(i)==list:
        for j in i:
            temp_list=j.split("\n")
            for k in temp_list:
                if k!='':
                    if "km" not in k and "Euro 6" not in k:
                        temp.append(str.strip(k))
                    else:
                        temp.append("unknown")
    if type(i)==str:
        temp_list=i.split("\n")
        for k in temp_list:
            if k!='':
                if "km" not in k and "Euro 6" not in k:
                    temp.append(str.strip(k))
                else:
                    temp.append("unknown")
        
temp_df=pd.DataFrame(temp)
temp_df.value_counts()

1          8294
2           778
unknown     338
0           188
3            17
4             2
dtype: int64

In [61]:
#now assign previous owner column proper values
for i in df.previous_owners.index:
    if type(df.at[i, 'previous_owners'])==list:
        for j in df.at[i, 'previous_owners']:
            temp_list=j.split("\n")
            for k in temp_list:
                if k!='':
                    if "km" not in k and "Euro 6" not in k:
                        df.at[i, 'previous_owners']=str.strip(k)
    if type(df.at[i, 'previous_owners'])==str:
        temp_list=df.at[i, 'previous_owners'].split("\n")
        for k in temp_list:
            if k!='':
                if "km" not in k and "Euro 6" not in k:
                    df.at[i, 'previous_owners']=str.strip(k)

In [62]:
#Notice that the values are same with the previous results
#but this time there are zero values
df.previous_owners.value_counts()

1    8294
2     778
0     188
3      17
4       2
Name: previous_owners, dtype: int64

In [63]:
df.previous_owners=df.previous_owners.astype(float)

In [64]:
df["previous_owners"].fillna(df["prev_owner"], inplace=True)

In [65]:
df["previous_owners"].value_counts(dropna=False)

1.0    8294
NaN    6640
2.0     778
0.0     188
3.0      17
4.0       2
Name: previous_owners, dtype: int64

In [66]:
#drop prev_owner since no need anymore
df.drop(["prev_owner"], axis=1, inplace=True)

### Feature: hp

In [67]:
#check hp column and see that there is no null values
df.hp.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: hp
Non-Null Count  Dtype
--------------  -----
15919 non-null  object
dtypes: object(1)
memory usage: 124.5+ KB

In [68]:
#count all values and there are some "- kW" values
df.hp.value_counts()

85 kW     2542
66 kW     2122
81 kW     1402
100 kW    1308
110 kW    1112
          ...
84 kW        1
195 kW       1
44 kW        1
239 kW       1
9 kW         1
Name: hp, Length: 81, dtype: int64

In [69]:
#replace all " kW" with ""
df.hp=df.hp.str.replace(" kW","")
#replace all "-" with null values
df.hp=df.hp.replace("-",np.nan)

In [70]:
#convert into integer
df.hp=df.hp.astype(float)
#check again
df.hp.value_counts()

85.0     2542
66.0     2122
81.0     1402
100.0    1308
110.0    1112
         ...
137.0       1
9.0         1
44.0        1
133.0       1
239.0       1
Name: hp, Length: 80, dtype: int64

In [71]:
df["hp_kW"]=df["hp"]

In [72]:
#now drop hp feature
df.drop(["hp"], axis=1, inplace=True)

### Feature: type

In [73]:
#check type column and 2 rows has nul values
df.type.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: type
Non-Null Count  Dtype
--------------  -----
15917 non-null  object
dtypes: object(1)
memory usage: 124.5+ KB

In [74]:
#notice that there is another column Fuel that contains fuel types of autos
#therefore, let us focus on information other than fuel types
df.type.value_counts()

[, Used, , Diesel (Particulate Filter)]                                                                                 3475
[, Used, , Diesel]                                                                                                      2516
[, Used, , Gasoline]                                                                                                    2367
[, Used, , Super 95]                                                                                                    1818
[, Pre-registered, , Super 95]                                                                                           500
                                                                                                                        ...
[, New, , Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95]       1
[, Used, , Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98 (Particulate Filter)]                               1
[, Demonstration, , Super Plus 98]                                                                                         1
[, New, , Super Plus E10 98]                                                                                               1
[, Demonstration, , Regular/Benzine E10 91]                                                                                1
Name: type, Length: 169, dtype: int64

In [75]:
#Let us obtain all values from lists to find all values
#notice that there are "Used", "New", "Pre-registered", 
#"Employee's car" and "Demonstration" entries
temp=[]
for i in df.type:
    if type(i)==list:
        for j in i:
            if j!='':
                temp_str=j.split('/')
                if type(temp_str)==str:
                    temp.append(str.strip(j))
                else:
                    for k in temp_str:
                        temp.append(str.strip(k))
    else:
        if i!='' and np.isnan(i)==False:
            temp.append(str.strip(i))
temp_df=pd.DataFrame(temp)
temp_df.value_counts()

Used                                      11096
Diesel (Particulate Filter)                4315
Super 95                                   4199
Gasoline                                   3179
Diesel                                     2982
New                                        1650
Pre-registered                             1364
Employee's car                             1011
Regular                                     998
Benzine 91                                  836
Demonstration                               796
Super E10 95                                641
Super 95 (Particulate Filter)               268
Super Plus 98                               227
Super Plus E10 98                           116
Benzine 91 (Particulate Filter)             101
Gasoline (Particulate Filter)                77
Benzine E10 91                               60
CNG                                          33
Super E10 95 (Particulate Filter)            32
LPG                                          16
Super Plus 98 (Particulate Filter)           14
Liquid petroleum gas (LPG)                   10
Super Plus E10 98 (Particulate Filter)        7
Others                                        5
Electric                                      5
CNG (Particulate Filter)                      3
Domestic gas H                                1
Benzine E10 91 (Particulate Filter)           1
Others (Particulate Filter)                   1
Biogas                                        1
Biodiesel                                     1
dtype: int64

In [76]:
#Notice that there are lists containing the relevant information
#let us iterate over rows and assign the values
for i in df.type.index:
    if type(df.at[i,'type'])==list or type(df.at[i,'type'])==str:
        if "Used" in df.at[i,'type']:
            df.at[i,'type']="Used"
        if "New" in df.at[i,'type']:
            df.at[i,'type']="New"
        if "Pre-registered" in df.at[i,'type']:
            df.at[i,'type']="Pre-registered"
        if "Employee's car" in df.at[i,'type']:
            df.at[i,'type']="Employee's car"
        if "Demonstration" in df.at[i,'type']:
            df.at[i,'type']="Demonstration"

In [77]:
#check again values
df.type.value_counts()

Used              11096
New                1650
Pre-registered     1364
Employee's car     1011
Demonstration       796
Name: type, dtype: int64

### Features: next_inspection and inspection_new

In [78]:
#check next_inspection column and see that there are null values
df.next_inspection.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: next_inspection
Non-Null Count  Dtype
--------------  -----
3535 non-null   object
dtypes: object(1)
memory usage: 124.5+ KB

In [79]:
#let us count the values
df.next_inspection.value_counts()

\n04/2022\n                               62
\n03/2021\n                               38
\n03/2022\n                               36
\n06/2021\n                               34
\n01/2022\n                               32
                                          ..
[\n12/2018\n, \n97 g CO2/km (comb)\n]      1
[\n03/2022\n, \n1 (No sticker)\n]          1
[\n05/2021\n, \n93 g CO2/km (comb)\n]      1
[\n06/2021\n, \n93 g CO2/km (comb)\n]      1
[\n01/2022\n, \n168 g CO2/km (comb)\n]     1
Name: next_inspection, Length: 1399, dtype: int64

In [80]:
#Let us see all values
temp=[]
for i in df.next_inspection:
    if type(i)==list:
        for j in i:
            temp_list=j.split("\n")
            for k in temp_list:
                if k!='':
                    if re.match(r'[0-9]{2}/[0-9]{4}', str.strip(k)):
                        temp.append(str.strip(k))
                    else:
                        temp.append("unrelated")
    if type(i)==str:
        temp_list=i.split("\n")
        for k in temp_list:
            if k!='':
                if re.match(r'[0-9]{2}/[0-9]{4}', str.strip(k)):
                    temp.append(str.strip(k))
                else:
                    temp.append("unrelated")
        
temp_df=pd.DataFrame(temp)
temp_df.value_counts()

unrelated    3271
06/2021       471
03/2021       210
05/2021       180
04/2021       171
             ...
05/2014         1
05/2016         1
05/2017         1
01/1955         1
01/1921         1
Length: 78, dtype: int64

In [81]:
#assign new values to next_inspection column
for i in df.index:
    if type(df.at[i,"next_inspection"])==list:
        for j in df.at[i,"next_inspection"]:
            temp_list=j.split("\n")
            for k in temp_list:
                if k!='':
                    if re.match(r'[0-9]{2}/[0-9]{4}', str.strip(k)):
                        df.at[i,"next_inspection"]=str.strip(k)
    if type(df.at[i,"next_inspection"])==str:
        temp_list=df.at[i,"next_inspection"].split("\n")
        for k in temp_list:
            if k!='':
                if re.match(r'[0-9]{2}/[0-9]{4}', str.strip(k)):
                    df.at[i,"next_inspection"]=str.strip(k)

In [82]:
df.next_inspection.value_counts()

06/2021    471
03/2021    210
05/2021    180
04/2021    171
02/2021    168
          ...
05/2014      1
04/2016      1
01/1955      1
01/2018      1
11/2022      1
Name: next_inspection, Length: 77, dtype: int64

In [83]:
df.next_inspection = pd.to_datetime(df.next_inspection)

In [84]:
#recheck information of the column
df.next_inspection.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: next_inspection
Non-Null Count  Dtype
--------------  -----
3535 non-null   datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 124.5 KB

In [85]:
#check 'inspection_new' column
df.inspection_new.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: inspection_new
Non-Null Count  Dtype
--------------  -----
3932 non-null   object
dtypes: object(1)
memory usage: 124.5+ KB

In [86]:
#observe the count of values
df.inspection_new.value_counts()

[\nYes\n, \nEuro 6\n]                                                                          523
\nYes\n                                                                                        362
[\nYes\n, \n102 g CO2/km (comb)\n]                                                             174
[\nYes\n, \n4 (Green)\n]                                                                       166
[\nYes\n, \nEuro 6d-TEMP\n]                                                                    134
                                                                                              ...
[\nYes\n, \n, 5.2 l/100 km (comb), \n, 6.7 l/100 km (city), \n, 4.2 l/100 km (country), \n]      1
[\nYes\n, \n100 g CO2/km (comb)\n]                                                               1
[\nYes\n, \n, 4.9 l/100 km (comb), \n, 5.9 l/100 km (city), \n, 4.3 l/100 km (country), \n]      1
[\nYes\n, \n, 5.1 l/100 km (comb), \n, 6.4 l/100 km (city), \n, 4.3 l/100 km (country), \n]      1
[\nYes\n, \n172 g CO2/km (comb)\n]                                                               1
Name: inspection_new, Length: 202, dtype: int64

In [87]:
#Let us see all values
temp=[]
for i in df["inspection_new"]:
    if type(i)==list:
        for j in i:
            temp_list=j.split("\n")
            for k in temp_list:
                if k!='':
                    if "Yes" in k:
                        temp.append(k)
                    else:
                        temp.append("unrelated")
    if type(i)==str:
        temp_list=i.split("\n")
        for k in temp_list:
            if k!='':
                if "Yes" in k:
                    temp.append(k)
                else:
                    temp.append("unrelated")
        
temp_df=pd.DataFrame(temp)
temp_df.value_counts()

unrelated    4152
Yes          3932
dtype: int64

In [88]:
#assignment of new values to this column
for i in df.index:
    if type(df.at[i,"inspection_new"])==list:
        for j in df.at[i,"inspection_new"]:
            temp_list=j.split("\n")
            for k in temp_list:
                if k!='':
                    if "Yes" in k:
                        df.at[i,"inspection_new"]=str.strip(k)
    if type(df.at[i,"inspection_new"])==str:
        temp_list=df.at[i,"inspection_new"].split("\n")
        for k in temp_list:
            if k!='':
                if "Yes" in k:
                    df.at[i,"inspection_new"]=str.strip(k)

In [89]:
#check again the values
df.inspection_new.value_counts()

Yes    3932
Name: inspection_new, dtype: int64

__Decision:__ inspection_new and next_inspection provide same information. So, let us drop next_inspection.

In [90]:
df.drop(["next_inspection"], axis=1, inplace=True)

### Feature: warranty

In [91]:
#let us focus on warranty column and there are null values
df.warranty.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: warranty
Non-Null Count  Dtype
--------------  -----
10499 non-null  object
dtypes: object(1)
memory usage: 124.5+ KB

In [92]:
#check count of values
df.warranty.value_counts()

[\n, \n, \nEuro 6\n]                                                                               1868
\n12 months\n                                                                                      1177
\n                                                                                                  979
\n24 months\n                                                                                       566
[\n, \n, \n4 (Green)\n]                                                                             517
                                                                                                   ...
[\n72 months\n, \n125 g CO2/km (comb)\n]                                                              1
[\n60 months\n, \n14 g CO2/km (comb)\n]                                                               1
[\n24 months\n, \n121 g CO2/km (comb)\n]                                                              1
[\n12 months\n, \nEuro 6d\n]                                                                          1
[\n36 months\n, \n, 7.4 l/100 km (comb), \n, 9.6 l/100 km (city), \n, 6 l/100 km (country), \n]       1
Name: warranty, Length: 515, dtype: int64

In [93]:
#Let us see all values in more details
temp=[]
for i in df.warranty:
    if type(i)==list:
        for j in i:
            temp_list=j.split("\n")
            for k in temp_list:
                if k!='':
                    if re.match(r'[0-9]+ months', str.strip(k)):
                        temp.append(str.strip(k))
                    else:
                        temp.append("unrelated")
    if type(i)==str:
        temp_list=i.split("\n")
        for k in temp_list:
            if k!='':
                if re.match(r'[0-9]+ months', str.strip(k)):
                    temp.append(str.strip(k))
                else:
                    temp.append("unrelated")
        
temp_df=pd.DataFrame(temp)
temp_df.value_counts()

unrelated    7151
12 months    2594
24 months    1118
60 months     401
36 months     279
48 months     149
6 months      125
72 months      59
3 months       33
23 months      11
18 months      10
20 months       7
25 months       6
2 months        5
16 months       4
50 months       4
26 months       4
4 months        3
34 months       3
1 months        3
19 months       3
13 months       3
28 months       2
14 months       2
9 months        2
22 months       2
21 months       2
45 months       2
46 months       2
11 months       2
17 months       2
8 months        1
7 months        1
65 months       1
49 months       1
56 months       1
15 months       1
10 months       1
47 months       1
40 months       1
33 months       1
30 months       1
dtype: int64

In [94]:
#assign new values to warranty column
df["warranty_new"]=np.nan
for i in df.index:
    if type(df.at[i,"warranty"])==list:
        for j in df.at[i,"warranty"]:
            temp_list=j.split("\n")
            for k in temp_list:
                if k!='':
                    if re.match(r'[0-9]+ months', str.strip(k)):
                        df.at[i,"warranty_new"]=str.strip(k).split(" ")[0]
                        
    if type(df.at[i,"warranty"])==str:
        temp_list=df.at[i,"warranty"].split("\n")
        for k in temp_list:
            if k!='':
                if re.match(r'[0-9]+ months', str.strip(k)):
                    df.at[i,"warranty_new"]=str.strip(k).split(" ")[0]

In [95]:
df.warranty_new.value_counts()

12    2594
24    1118
60     401
36     279
48     149
6      125
72      59
3       33
23      11
18      10
20       7
25       6
2        5
50       4
26       4
16       4
4        3
1        3
19       3
34       3
13       3
28       2
22       2
14       2
11       2
46       2
21       2
9        2
17       2
45       2
33       1
40       1
65       1
10       1
15       1
7        1
8        1
56       1
49       1
47       1
30       1
Name: warranty_new, dtype: int64

In [96]:
#assign warranty_new to warranty and drop warranty_new column
df.warranty=df.warranty_new
df.drop(['warranty_new'], axis=1, inplace=True)

In [97]:
#check again this column and realize the null values
df.warranty.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: warranty
Non-Null Count  Dtype
--------------  -----
4853 non-null   object
dtypes: object(1)
memory usage: 124.5+ KB

In [98]:
df.warranty=df.warranty.astype(float)

### Feature: full_service

In [99]:
#let us focus on 'full_service' column
df.full_service.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: full_service
Non-Null Count  Dtype
--------------  -----
8215 non-null   object
dtypes: object(1)
memory usage: 124.5+ KB

In [100]:
df.full_service.value_counts()

[\n, \n, \n4 (Green)\n]                                                                       2235
[\n, \n, \nEuro 6\n]                                                                          2097
[\n, \n]                                                                                      1702
[\n, \n, \nEuro 6d-TEMP\n]                                                                     399
\n                                                                                             283
                                                                                              ...
[\n, \n, \n, 6 l/100 km (comb), \n, 8 l/100 km (city), \n, 4.9 l/100 km (country), \n]           1
[\n, \n, \n84 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n87 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n, 5.7 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.9 l/100 km (country), \n]       1
[\n, \n, \nEuro 4\n]                                                                             1
Name: full_service, Length: 122, dtype: int64

In [101]:
#Let us see all values in more details
#the value counts indicates that this column can be dropped
temp=[]
for i in df.full_service:
    if type(i)==list:
        for j in i:
            temp_list=j.split("\n")
            for k in temp_list:
                if k!='':
                    temp.append(str.strip(k))
    if type(i)==str:
        temp_list=i.split("\n")
        for k in temp_list:
            if k!='':
                temp.append(str.strip(k))

        
temp_df=pd.DataFrame(temp)
temp_df.value_counts()

4 (Green)                 2235
Euro 6                    2097
Euro 6d-TEMP               399
120 g CO2/km (comb)        105
126 g CO2/km (comb)         84
                          ...
5.2 l/100 km (country)       1
8.3 l/100 km (city)          1
8.4 l/100 km (city)          1
80 g CO2/km (comb)           1
84 g CO2/km (comb)           1
Length: 141, dtype: int64

In [102]:
#drop full_service since the information contained is already in other features
df.drop('full_service', axis=1,inplace=True)

### Feature: non_smoking_vehicle

In [103]:
#non_smoking_vehicle column
df.non_smoking_vehicle.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: non_smoking_vehicle
Non-Null Count  Dtype
--------------  -----
7177 non-null   object
dtypes: object(1)
memory usage: 124.5+ KB

In [104]:
df.non_smoking_vehicle.value_counts()

[\n, \n]                                                                                      3647
[\n, \n, \n4 (Green)\n]                                                                       1240
[\n, \n, \nEuro 6\n]                                                                          1127
[\n, \n, \nEuro 6d-TEMP\n]                                                                     345
\n                                                                                              70
                                                                                              ...
[\n, \n, \n, 6.2 l/100 km (comb), \n, 7.9 l/100 km (city), \n, 5.3 l/100 km (country), \n]       1
[\n, \n, \n91 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n101 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 5.7 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.7 l/100 km (country), \n]       1
[\n, \n, \n175 g CO2/km (comb)\n]                                                                1
Name: non_smoking_vehicle, Length: 94, dtype: int64

In [105]:
#Let us see all values in more details
#the value counts indicates that this column can be dropped
temp=[]
for i in df.non_smoking_vehicle:
    if type(i)==list:
        for j in i:
            temp_list=j.split("\n")
            for k in temp_list:
                if k!='':
                    temp.append(str.strip(k))
    if type(i)==str:
        temp_list=i.split("\n")
        for k in temp_list:
            if k!='':
                temp.append(str.strip(k))

        
temp_df=pd.DataFrame(temp)
temp_df.value_counts()

4 (Green)                 1240
Euro 6                    1127
Euro 6d-TEMP               345
120 g CO2/km (comb)         63
85 g CO2/km (comb)          46
                          ...
5.2 l/100 km (country)       1
5.6 l/100 km (comb)          1
5.6 l/100 km (country)       1
5.7 l/100 km (comb)          1
158 g CO2/km (comb)          1
Length: 106, dtype: int64

In [106]:
#drop non_smoking_vehicle as other features contain same information
df.drop('non_smoking_vehicle', axis=1,inplace=True)

### Feature: offer_number

In [107]:
#offer_number
df.offer_number.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: offer_number
Non-Null Count  Dtype
--------------  -----
12744 non-null  object
dtypes: object(1)
memory usage: 124.5+ KB

In [108]:
#these are automobiles' offer numbers
df.offer_number.sample(10)

6185       [\n054826\n]
14427               NaN
2548     [\n203-9523\n]
7874       [\n864716\n]
5738     [\nJG099685\n]
6923                NaN
11390      [\n054766\n]
8848        [\n35554\n]
6201     [\n11519473\n]
4983        [\n76342\n]
Name: offer_number, dtype: object

In [109]:
#let us clean all values
for i in df.index:
    if type(df.at[i,"offer_number"])==list:
        temp=df.at[i,"offer_number"][0]
        df.at[i,"offer_number"]=temp.replace("\n","")

In [110]:
df.offer_number.sample(10)

11460      74282
9501         539
2930         NaN
383      AK13780
12846     500778
11264    0875JZK
8955         NaN
263        12178
11022     225826
4758      507768
Name: offer_number, dtype: object

In [111]:
#drop offer_number since no need for this number to predict the price.
df.drop("offer_number", axis=1, inplace=True)

### Feature: body_color

In [112]:
#body_color
df.body_color.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: body_color
Non-Null Count  Dtype
--------------  -----
15322 non-null  object
dtypes: object(1)
memory usage: 124.5+ KB

In [113]:
df.body_color.value_counts()

[\n, Black, \n]     3745
[\n, Grey, \n]      3505
[\n, White, \n]     3406
[\n, Silver, \n]    1647
[\n, Blue, \n]      1431
[\n, Red, \n]        957
[\n, Brown, \n]      289
[\n, Green, \n]      154
[\n, Beige, \n]      108
[\n, Yellow, \n]      51
[\n, Violet, \n]      18
[\n, Bronze, \n]       6
[\n, Orange, \n]       3
[\n, Gold, \n]         2
Name: body_color, dtype: int64

In [114]:
#let us clean all values
for i in df.index:
    if type(df.at[i,"body_color"])==list:
        temp=df.at[i,"body_color"]
        for k in temp:
            k=k.replace("\n","")
            if k!='':
                df.at[i,"body_color"]=str.strip(k)

In [115]:
df.body_color.value_counts()

Black     3745
Grey      3505
White     3406
Silver    1647
Blue      1431
Red        957
Brown      289
Green      154
Beige      108
Yellow      51
Violet      18
Bronze       6
Orange       3
Gold         2
Name: body_color, dtype: int64

### Feature: paint_type

In [116]:
#paint_type
df.paint_type.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: paint_type
Non-Null Count  Dtype
--------------  -----
10147 non-null  object
dtypes: object(1)
memory usage: 124.5+ KB

In [117]:
df.paint_type.value_counts()

[\nMetallic\n]       9794
[\nUni/basic\n]       347
[\nPerl effect\n]       6
Name: paint_type, dtype: int64

In [118]:
#let us clean all values
for i in df.index:
    if type(df.at[i,"paint_type"])==list:
        temp=df.at[i,"paint_type"][0]
        df.at[i,"paint_type"]=temp.replace("\n","")

In [119]:
df.paint_type.value_counts()

Metallic       9794
Uni/basic       347
Perl effect       6
Name: paint_type, dtype: int64

### Feature: body_color_original

In [120]:
#body_color_original
df.body_color_original.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: body_color_original
Non-Null Count  Dtype
--------------  -----
12160 non-null  object
dtypes: object(1)
memory usage: 124.5+ KB

In [121]:
df.body_color_original.value_counts()

[\nOnyx Schwarz\n]                     338
[\nBianco\n]                           282
[\nMythosschwarz Metallic\n]           238
[\nBrillantschwarz\n]                  216
[\nGris\n]                             204
                                      ...
[\nRouge-Braun (G0Y)\n]                  1
[\nVARI COLRI DISPONIBILI\n]             1
[\nKokosnussbraun Metallic\n]            1
[\nFarbe frei wählbar\n]                 1
[\nPerlmutt-Weiß Metallic (Weiß)\n]      1
Name: body_color_original, Length: 1927, dtype: int64

In [122]:
#let us clean all values
for i in df.index:
    if type(df.at[i,"body_color_original"])==list:
        temp=df.at[i,"body_color_original"][0]
        df.at[i,"body_color_original"]=temp.replace("\n","")

In [123]:
df.body_color_original.value_counts()

Onyx Schwarz                     338
Bianco                           282
Mythosschwarz Metallic           238
Brillantschwarz                  216
Gris                             204
                                ...
Rouge-Braun (G0Y)                  1
VARI COLRI DISPONIBILI             1
Kokosnussbraun Metallic            1
Farbe frei wählbar                 1
Perlmutt-Weiß Metallic (Weiß)      1
Name: body_color_original, Length: 1927, dtype: int64

In [124]:
#drop this feature since the information is provided by body_color
df.drop("body_color_original", axis=1, inplace=True)

### Feature: upholstery

In [125]:
#check the column of upholstery and see that there are null values
df.upholstery.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: upholstery
Non-Null Count  Dtype
--------------  -----
12199 non-null  object
dtypes: object(1)
memory usage: 124.5+ KB

In [126]:
#Count the values
df.upholstery.value_counts()

[\nCloth, Black\n]           5821
[\nPart leather, Black\n]    1121
[\nCloth\n]                  1005
[\nCloth, Grey\n]             891
[\nCloth, Other\n]            639
[\nFull leather, Black\n]     575
[\nBlack\n]                   491
[\nGrey\n]                    273
[\nOther, Other\n]            182
[\nPart leather\n]            140
[\nFull leather\n]            139
[\nPart leather, Grey\n]      116
[\nFull leather, Brown\n]     116
[\nOther, Black\n]            110
[\nFull leather, Other\n]      72
[\nFull leather, Grey\n]       67
[\nPart leather, Other\n]      65
[\nOther\n]                    56
[\nPart leather, Brown\n]      50
[\nalcantara, Black\n]         47
[\nFull leather, Beige\n]      36
[\nVelour, Black\n]            36
[\nCloth, Brown\n]             28
[\nVelour\n]                   16
[\nOther, Grey\n]              15
[\nCloth, Beige\n]             13
[\nBrown\n]                    12
[\nCloth, Blue\n]              12
[\nCloth, White\n]              8
[\nVelour, Grey\n]              8
[\nalcantara, Grey\n]           6
[\nCloth, Red\n]                5
[\nOther, Yellow\n]             4
[\nBeige\n]                     3
[\nPart leather, Red\n]         3
[\nalcantara\n]                 2
[\nPart leather, White\n]       2
[\nBlue\n]                      2
[\nWhite\n]                     2
[\nPart leather, Beige\n]       2
[\nalcantara, Other\n]          2
[\nFull leather, Blue\n]        2
[\nOther, Brown\n]              1
[\nCloth, Orange\n]             1
[\nFull leather, Red\n]         1
[\nFull leather, White\n]       1
Name: upholstery, dtype: int64

In [127]:
#upholstery column has list items
type(df.at[1,"upholstery"])

list

In [128]:
#upholstery column has contains fabric type and its color
#but there can be null values
print(df.at[1,"upholstery"])

['\nCloth, Grey\n']

In [129]:
#but the list item contains only one single entry
len(df.at[1,"upholstery"])

1

In [130]:
#In order to get rid of messy look, let us count the values
#But split the entries in each list item
temp=[]
for i in df.upholstery:
    if type(i)==list:
        temp_str=str(i[0])
        temp_str=temp_str.split(",")        
        if temp_str!='':
            for k in temp_str:
                temp.append(str.strip(k.replace("\n","")))
    else:
        temp_str=str(i).split(",")
        if temp_str!='':
            for k in temp_str:
                temp.append(str.strip(k.replace("\n","")))
temp_df=pd.DataFrame(temp)
temp_df.value_counts()
temp_df=pd.DataFrame(temp_df.value_counts())
temp_df

                 0
0
Cloth         8423
Black         8201
nan           3720
Part leather  1499
Grey          1376
Other         1328
Full leather  1009
Brown          207
Velour          60
alcantara       57
Beige           54
Blue            16
White           13
Red              9
Yellow           4
Orange           1

In [131]:
cat_fabric=["Cloth", "Part leather", "Full leather", "Velour", "alcantara", "Other"]
cat_color=["Black", "Grey", "Brown", "Beige", "White", "Blue", "Red", "Yellow", "Orange", "Other"]

In [132]:
#create two new columns upholstery_fabric and upholstery_color
#Assign the values according column of "upholstery"
df["upholstery_fabric"]=np.nan
df["upholstery_color"]=np.nan
for i in df.index:
    if type(df.at[i,"upholstery"])==list:
        temp_str=str(df.at[i,"upholstery"][0])
        temp_str=temp_str.split(",")
        if len(temp_str)==2:
            df.at[i,"upholstery_fabric"]=str.strip(temp_str[0].replace("\n",""))
            df.at[i,"upholstery_color"]=str.strip(temp_str[1].replace("\n",""))
        elif len(temp_str)==1:
            temp_str=temp_str[0].replace("\n","")
            if temp_str in cat_fabric:
                df.at[i,"upholstery_fabric"]=str.strip(temp_str)
            else:
                df.at[i,"upholstery_color"]=str.strip(temp_str)
    elif np.isnan(df.at[i,"upholstery"])==False:
        temp_str=str(df.at[i,"upholstery"])
        temp_str=temp_str.split(",")
        if len(temp_str)==2:
            df.at[i,"upholstery_fabric"]=str.strip(temp_str[0].replace("\n",""))
            df.at[i,"upholstery_color"]=str.strip(temp_str[1].replace("\n",""))
        elif len(temp_str)==1:
            temp_str=temp_str[0].replace("\n","")
            if temp_str in cat_fabric:
                df.at[i,"upholstery_fabric"]=str.strip(temp_str)
            else:
                df.at[i,"upholstery_color"]=str.strip(temp_str)

In [133]:
df[["upholstery","upholstery_fabric","upholstery_color"]].sample(10)

                      upholstery upholstery_fabric upholstery_color
1667                 [\nBlack\n]               NaN            Black
1894                         NaN               NaN              NaN
6835          [\nOther, Other\n]             Other            Other
2060          [\nCloth, Black\n]             Cloth            Black
429                          NaN               NaN              NaN
5711   [\nPart leather, Black\n]      Part leather            Black
13721                        NaN               NaN              NaN
3409          [\nCloth, Black\n]             Cloth            Black
178           [\nCloth, Black\n]             Cloth            Black
12280         [\nCloth, Black\n]             Cloth            Black

In [134]:
df.drop("upholstery", axis=1, inplace=True)

### Feature: nr_of_doors

In [135]:
#nr_of_doors
df.nr_of_doors.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: nr_of_doors
Non-Null Count  Dtype
--------------  -----
15707 non-null  object
dtypes: object(1)
memory usage: 124.5+ KB

In [136]:
df.nr_of_doors.value_counts()

[\n5\n]    11575
[\n4\n]     3079
[\n3\n]      832
[\n2\n]      219
[\n1\n]        1
[\n7\n]        1
Name: nr_of_doors, dtype: int64

In [137]:
#let us clean all values
for i in df.index:
    if type(df.at[i,"nr_of_doors"])==list:
        temp=df.at[i,"nr_of_doors"][0]
        df.at[i,"nr_of_doors"]=temp.replace("\n","")

In [138]:
df.nr_of_doors.value_counts()

5    11575
4     3079
3      832
2      219
1        1
7        1
Name: nr_of_doors, dtype: int64

In [139]:
df.nr_of_doors.astype(float)

0        5.0
1        3.0
2        4.0
3        3.0
4        5.0
        ...
15914    5.0
15915    5.0
15916    5.0
15917    5.0
15918    5.0
Name: nr_of_doors, Length: 15919, dtype: float64

### Feature: nr_of_seats

In [140]:
#nr_of_seats
df.nr_of_seats.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: nr_of_seats
Non-Null Count  Dtype
--------------  -----
14942 non-null  object
dtypes: object(1)
memory usage: 124.5+ KB

In [141]:
df.nr_of_seats.value_counts()

[\n5\n]    13336
[\n4\n]     1125
[\n7\n]      362
[\n2\n]      116
[\n6\n]        2
[\n3\n]        1
Name: nr_of_seats, dtype: int64

In [142]:
#let us clean all values
for i in df.index:
    if type(df.at[i,"nr_of_seats"])==list:
        temp=df.at[i,"nr_of_seats"][0]
        df.at[i,"nr_of_seats"]=temp.replace("\n","")

In [143]:
df.nr_of_seats.value_counts()

5    13336
4     1125
7      362
2      116
6        2
3        1
Name: nr_of_seats, dtype: int64

In [144]:
df.nr_of_seats.astype(float)

0        5.0
1        4.0
2        4.0
3        4.0
4        5.0
        ...
15914    5.0
15915    5.0
15916    7.0
15917    7.0
15918    5.0
Name: nr_of_seats, Length: 15919, dtype: float64

### Feature: model_code

In [145]:
#model_code
df.model_code.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: model_code
Non-Null Count  Dtype
--------------  -----
4978 non-null   object
dtypes: object(1)
memory usage: 124.5+ KB

In [146]:
df.model_code.value_counts()

[\n0035/BCB\n]    268
[\n0588/BNO\n]    245
[\n0588/BDB\n]    206
[\n0588/BHX\n]    188
[\n1844/ADJ\n]    175
                 ...
[\n0000/ACP\n]      1
[\n0035/BGY\n]      1
[\n0035/bgp\n]      1
[\n0035/BGS\n]      1
[\n3333/BKG\n]      1
Name: model_code, Length: 232, dtype: int64

In [147]:
#let us clean all values
for i in df.index:
    if type(df.at[i,"model_code"])==list:
        temp=df.at[i,"model_code"][0]
        df.at[i,"model_code"]=temp.replace("\n","")

In [148]:
df.model_code.value_counts()

0035/BCB    268
0588/BNO    245
0588/BDB    206
0588/BHX    188
1844/ADJ    175
           ...
0000/ACP      1
0035/BGY      1
0035/bgp      1
0035/BGS      1
3333/BKG      1
Name: model_code, Length: 232, dtype: int64

In [149]:
#model codes have information of manufacturer and motor codes
#motor codes have no effect on price and manufacturers are already included in make_model
df.drop("model_code", axis=1, inplace=True)

### Feature: gearing_type

In [150]:
#gearing_type
df.gearing_type.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: gearing_type
Non-Null Count  Dtype
--------------  -----
15919 non-null  object
dtypes: object(1)
memory usage: 124.5+ KB

In [151]:
df.gearing_type.value_counts()

[\n, Manual, \n]            8153
[\n, Automatic, \n]         7297
[\n, Semi-automatic, \n]     469
Name: gearing_type, dtype: int64

In [152]:
#let us clean all values
for i in df.index:
    if type(df.at[i,"gearing_type"])==list:
        temp=df.at[i,"gearing_type"]
        for k in temp:
            k=k.replace("\n","")
            if k!='':
                df.at[i,"gearing_type"]=str.strip(k)

In [153]:
df.gearing_type.value_counts()

Manual            8153
Automatic         7297
Semi-automatic     469
Name: gearing_type, dtype: int64

### Feature: displacement

In [154]:
#displacement
df.displacement.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: displacement
Non-Null Count  Dtype
--------------  -----
15423 non-null  object
dtypes: object(1)
memory usage: 124.5+ KB

In [155]:
df.displacement.value_counts()

[\n1,598 cc\n]    4761
[\n999 cc\n]      2438
[\n1,398 cc\n]    1314
[\n1,399 cc\n]     749
[\n1,229 cc\n]     677
                  ...
[\n122 cc\n]         1
[\n1,198 cc\n]       1
[\n1,195 cc\n]       1
[\n2,967 cc\n]       1
[\n1,800 cc\n]       1
Name: displacement, Length: 77, dtype: int64

In [156]:
#let us clean all values
for i in df.index:
    if type(df.at[i,"displacement"])==list:
        temp=df.at[i,"displacement"][0].split(" ")
        temp=temp[0].replace("\n","")
        df.at[i,"displacement"]=temp.replace(",","")

In [157]:
df.displacement=df.displacement.astype(float)

In [158]:
df.displacement.value_counts()

1598.0    4761
999.0     2438
1398.0    1314
1399.0     749
1229.0     677
          ...
122.0        1
1198.0       1
1195.0       1
2967.0       1
1800.0       1
Name: displacement, Length: 77, dtype: int64

### Feature: cylinders

In [159]:
#cylinders
df.cylinders.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: cylinders
Non-Null Count  Dtype
--------------  -----
10239 non-null  object
dtypes: object(1)
memory usage: 124.5+ KB

In [160]:
df.cylinders.value_counts()

[\n4\n]    8105
[\n3\n]    2104
[\n5\n]      22
[\n6\n]       3
[\n8\n]       2
[\n2\n]       2
[\n1\n]       1
Name: cylinders, dtype: int64

In [161]:
#let us clean all values
for i in df.index:
    if type(df.at[i,"cylinders"])==list:
        temp=df.at[i,"cylinders"][0]
        df.at[i,"cylinders"]=temp.replace("\n","")

In [162]:
df.cylinders.value_counts()

4    8105
3    2104
5      22
6       3
8       2
2       2
1       1
Name: cylinders, dtype: int64

In [163]:
df.cylinders=df.cylinders.astype(float)

### Feature: weight

In [164]:
#weight
df.weight.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: weight
Non-Null Count  Dtype
--------------  -----
8945 non-null   object
dtypes: object(1)
memory usage: 124.5+ KB

In [165]:
df.weight.value_counts()

[\n1,163 kg\n]    574
[\n1,360 kg\n]    356
[\n1,165 kg\n]    301
[\n1,335 kg\n]    242
[\n1,135 kg\n]    213
                 ...
[\n1,331 kg\n]      1
[\n1,132 kg\n]      1
[\n1,252 kg\n]      1
[\n1,792 kg\n]      1
[\n2,037 kg\n]      1
Name: weight, Length: 434, dtype: int64

In [166]:
#let us clean all values
for i in df.index:
    if type(df.at[i,"weight"])==list:
        temp=df.at[i,"weight"][0]
        df.at[i,"weight"]=temp.replace("\n","")
        df.at[i,"weight"]=df.at[i,"weight"].replace(",","")
        df.at[i,"weight"]=df.at[i,"weight"].replace(" kg","")

In [167]:
df.weight.value_counts()

1163    574
1360    356
1165    301
1335    242
1135    213
       ...
1331      1
1132      1
1252      1
1792      1
2037      1
Name: weight, Length: 434, dtype: int64

In [168]:
df.weight=df.weight.astype(float)

### Feature: drive_chain

In [169]:
#'drive_chain'
df.drive_chain.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: drive_chain
Non-Null Count  Dtype
--------------  -----
9061 non-null   object
dtypes: object(1)
memory usage: 124.5+ KB

In [170]:
df.drive_chain.value_counts()

[\nfront\n]    8886
[\n4WD\n]       171
[\nrear\n]        4
Name: drive_chain, dtype: int64

In [171]:
#let us clean all values
for i in df.index:
    if type(df.at[i,"drive_chain"])==list:
        temp=df.at[i,"drive_chain"][0]
        df.at[i,"drive_chain"]=temp.replace("\n","")

In [172]:
df.drive_chain.value_counts()

front    8886
4WD       171
rear        4
Name: drive_chain, dtype: int64

### Feature: fuel

In [173]:
#Let us check the column of "fuel"
df.fuel.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: fuel
Non-Null Count  Dtype
--------------  -----
15919 non-null  object
dtypes: object(1)
memory usage: 124.5+ KB

In [174]:
#Count the values
df.fuel.value_counts()

[\n, Diesel (Particulate Filter), \n]                                                                                  4315
[\n, Super 95, \n]                                                                                                     3338
[\n, Gasoline, \n]                                                                                                     3175
[\n, Diesel, \n]                                                                                                       2984
[\n, Super 95 / Regular/Benzine 91, \n]                                                                                 424
                                                                                                                       ...
[\n, Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91, \n]                                                          1
[\n, Super Plus 98 / Super E10 95, \n]                                                                                    1
[\n, Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98, \n]       1
[\n, Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super 95 / Super E10 95 / Super Plus E10 98, \n]       1
[\n, Super Plus 98 / Super 95 / Super Plus E10 98, \n]                                                                    1
Name: fuel, Length: 77, dtype: int64

In [175]:
#In order to organize this messy data, let us count of values
temp=[]
for i in df.fuel:
    if type(i)==list:
        for j in i:
            temp_ss=str(j.replace("\n",""))
            if temp_ss!='':
                temp_list=temp_ss.split("/")
                for k in temp_list:
                    temp.append(str.strip(k))
    else:
        temp_ss=str(j.replace("\n",""))
        temp.append(temp_ss)
temp_df=pd.DataFrame(temp)
temp_df.value_counts()
temp_df=pd.DataFrame(temp_df.value_counts())
temp_df

                                           0
0
Diesel (Particulate Filter)             4315
Super 95                                4199
Gasoline                                3179
Diesel                                  2984
Regular                                  998
Benzine 91                               836
Super E10 95                             641
Super 95 (Particulate Filter)            268
Super Plus 98                            227
Super Plus E10 98                        116
Benzine 91 (Particulate Filter)          101
Gasoline (Particulate Filter)             77
Benzine E10 91                            60
CNG                                       33
Super E10 95 (Particulate Filter)         32
LPG                                       16
Super Plus 98 (Particulate Filter)        14
Liquid petroleum gas (LPG)                10
Super Plus E10 98 (Particulate Filter)     7
Electric                                   5
Others                                     5
CNG (Particulate Filter)                   3
Domestic gas H                             1
Others (Particulate Filter)                1
Biogas                                     1
Biodiesel                                  1
Benzine E10 91 (Particulate Filter)        1

In [176]:
#categorize the fuel type into diesel, benzin, lpg/cng and electric
diesel=["Diesel (Particulate Filter)","Diesel","Biodiesel"]
benzin = ["Benzine E10 91 (Particulate Filter)",
          "Benzine 91",
          "Super 95 (Particulate Filter)",
          "Benzine 91 (Particulate Filter)",
          "Gasoline (Particulate Filter)",
          "Benzine E10 91",
          "Super Plus 98 (Particulate Filter)",
          "Gasoline",
          "Super 95",
          "Regular",
          "Super E10 95",
          "Super E10 95 (Particulate Filter)",
          "Super Plus 98",
          "Super Plus E10 98",
          "Others",
          "Super Plus E10 98 (Particulate Filter)",
         "Others (Particulate Filter)"]
lpg = ["LPG","Liquid petroleum gas (LPG)",
       "CNG","Biogas","Domestic gas H",
       'CNG (Particulate Filter)']
electric=["Electric"]

In [177]:
#Resassignment of "fuel" column
for i in df.index:
    if type(df.at[i,"fuel"])==list:
        temp=[]
        for j in df.at[i,"fuel"]:
            temp_ss=str(j.replace("\n",""))
            if temp_ss!='':
                temp_list=temp_ss.split("/")
                for k in temp_list:
                    temp.append(str.strip(k))
        if temp[0] in diesel:
            df.at[i,"fuel"]='Diesel'
        if temp[0] in benzin:
            df.at[i,"fuel"]='Benzin'
        if temp[0] in lpg:
            df.at[i,"fuel"]='LPG/CNG'
        if temp[0] in electric:
            df.at[i,"fuel"]='Electric'

In [178]:
df.fuel.value_counts()

Benzin      8551
Diesel      7299
LPG/CNG       64
Electric       5
Name: fuel, dtype: int64

### Feature: consumption

In [179]:
#check consumption column and see that there are null values
df.consumption.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: consumption
Non-Null Count  Dtype
--------------  -----
14013 non-null  object
dtypes: object(1)
memory usage: 124.5+ KB

In [180]:
#let us count the values and they contains lists, which contain lists in it
df.consumption.value_counts()

[[3.9 l/100 km (comb)], [4.1 l/100 km (city)], [3.7 l/100 km (country)]]              304
[[4.2 l/100 km (comb)], [5 l/100 km (city)], [3.7 l/100 km (country)]]                276
[[5.4 l/100 km (comb)], [6.8 l/100 km (city)], [4.5 l/100 km (country)]]              257
[[3.8 l/100 km (comb)], [4.3 l/100 km (city)], [3.5 l/100 km (country)]]              253
[[4.7 l/100 km (comb)], [5.1 l/100 km (city)], [4.4 l/100 km (country)]]              244
                                                                                     ...
[[4.2 l/100 km (comb)], [5.3 l/100 km (city)], [3.6 l/100 km (country)]]                1
[\n, 5.1 l/100 km (comb), \n, 6.4 l/100 km (city), \n, 4.3 l/100 km (country), \n]      1
[[4.6 l/100 km (comb)], [5.4 l/100 km (city)], [6.7 l/100 km (country)]]                1
[\n, 6.3 l/100 km (comb), \n, \n, \n]                                                   1
[\n, 7.4 l/100 km (comb), \n, 9.6 l/100 km (city), \n, 6 l/100 km (country), \n]        1
Name: consumption, Length: 881, dtype: int64

In [181]:
#three types of fuel consumption are stored: 
#in city, outside city and combination
#so create three new columns: city_cons, comb_cons and country_cons
#store new information on consumption as numerical values
df['city_cons']=None
df['country_cons']=None
df['comb_cons']=None
for i in df.index:
    if type(df.at[i,'consumption'])==list:
        for j in df.at[i,'consumption']:
            if type(j)==list:
                for k in j:
                    if k!='' and k!='\n':
                        if "city"in k:
                            df.at[i,'city_cons']=k.split(" ")[0]
                        elif "country" in k:
                            df.at[i,'country_cons']=k.split(" ")[0]
                        elif "comb" in k:
                            df.at[i,'comb_cons']=k.split(" ")[0]
            elif j!='' and j!='\n':
                if "city"in j:
                    df.at[i,'city_cons']=j.split(" ")[0]
                elif "country" in j:
                    df.at[i,'country_cons']=j.split(" ")[0]
                elif "comb" in j:
                    df.at[i,'comb_cons']=j.split(" ")[0]

df.city_cons=df.city_cons.astype(float)
df.country_cons=df.country_cons.astype(float)
df.comb_cons=df.comb_cons.astype(float)

In [182]:
#See the count of values for combined fuel consumption
df.comb_cons.value_counts()

5.4     770
3.9     733
4.0     713
5.1     657
4.4     623
       ...
33.0      1
50.0      1
1.0       1
46.0      1
11.0      1
Name: comb_cons, Length: 72, dtype: int64

In [183]:
df.drop('consumption',axis=1,inplace=True)

### Feature: co2_emission

In [184]:
#co2_emission
df.co2_emission.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: co2_emission
Non-Null Count  Dtype
--------------  -----
14111 non-null  object
dtypes: object(1)
memory usage: 124.5+ KB

In [185]:
#value counts
df['co2_emission'].value_counts()

[\n120 g CO2/km (comb)\n]      740
[[], [], []]                   628
[\n99 g CO2/km (comb)\n]       545
[\n97 g CO2/km (comb)\n]       537
[\n104 g CO2/km (comb)\n]      501
                              ...
[\n14 g CO2/km (comb)\n]         1
[\n1,060 g CO2/km (comb)\n]      1
[\n51 g CO2/km (comb)\n]         1
[\n165 g CO2/km (comb)\n]        1
[\n193 g CO2/km (comb)\n]        1
Name: co2_emission, Length: 123, dtype: int64

In [186]:
df["co2_emission_new"]=np.nan
for i in df.index:
    if type(df.at[i,"co2_emission"])==list:
        if type(df.at[i,"co2_emission"][0])!=list:
            temp=df.at[i,"co2_emission"][0].split(" ")
            temp=temp[0].replace("\n","")
            temp=temp.replace(",","")
            df.at[i,"co2_emission_new"]=temp

In [187]:
df.co2_emission=df.co2_emission_new

In [188]:
df.drop('co2_emission_new', axis=1,inplace=True)

In [189]:
df.co2_emission.value_counts()

120      740
99       545
97       537
104      501
102      477
        ...
80         1
51         1
165        1
12324      1
193        1
Name: co2_emission, Length: 122, dtype: int64

### Feature: emission_class

In [190]:
#emission_class
df.emission_class.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: emission_class
Non-Null Count  Dtype
--------------  -----
12898 non-null  object
dtypes: object(1)
memory usage: 124.5+ KB

In [191]:
df.emission_class.value_counts()

[\nEuro 6\n]          10139
[\nEuro 6d-TEMP\n]     1845
[[], [], []]            607
[\nEuro 6c\n]           127
[\nEuro 5\n]             78
[\nEuro 6d\n]            62
[\nEuro 4\n]             40
Name: emission_class, dtype: int64

In [192]:
df["emission_class_new"]=np.nan
for i in df.index:
    if type(df.at[i,"emission_class"])==list:
        if type(df.at[i,"emission_class"][0])!=list:
            temp=df.at[i,"emission_class"][0].replace("\n","")
            df.at[i,"emission_class_new"]=temp

In [193]:
df.emission_class_new.value_counts()

Euro 6          10139
Euro 6d-TEMP     1845
Euro 6c           127
Euro 5             78
Euro 6d            62
Euro 4             40
Name: emission_class_new, dtype: int64

In [194]:
df.emission_class=df.emission_class_new

In [195]:
df.drop('emission_class_new',axis=1,inplace=True)

### Feature: emission_label

In [196]:
#emission_label
df.emission_label.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: emission_label
Non-Null Count  Dtype
--------------  -----
3985 non-null   object
dtypes: object(1)
memory usage: 124.5+ KB

In [197]:
df.emission_label.value_counts()

[\n4 (Green)\n]         3553
[\n1 (No sticker)\n]     381
[[], [], []]              40
[\n5 (Blue)\n]             8
[\n3 (Yellow)\n]           2
[\n2 (Red)\n]              1
Name: emission_label, dtype: int64

In [198]:
df["emission_label_new"]=np.nan
for i in df.index:
    if type(df.at[i,"emission_label"])==list:
        if type(df.at[i,"emission_label"][0])!=list:
            temp=df.at[i,"emission_label"][0].split("(")
            temp=temp[1].replace(")\n","")
            df.at[i,"emission_label_new"]=temp

In [199]:
df.emission_label_new.value_counts()

Green         3553
No sticker     381
Blue             8
Yellow           2
Red              1
Name: emission_label_new, dtype: int64

In [200]:
df.emission_label=df.emission_label_new

In [201]:
#drop this feature since the information is already contained in other features
df.drop(['emission_label','emission_label_new'],axis=1,inplace=True)

### Feature: gears

In [202]:
#gears
df.gears.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: gears
Non-Null Count  Dtype
--------------  -----
11207 non-null  object
dtypes: object(1)
memory usage: 124.5+ KB

In [203]:
df.gears.value_counts()

[\n6\n]     5822
[\n5\n]     3239
[\n7\n]     1908
[\n8\n]      224
[\n9\n]        6
[\n1\n]        2
[\n3\n]        2
[\n4\n]        2
[\n2\n]        1
[\n50\n]       1
Name: gears, dtype: int64

In [204]:
for i in df.index:
    if type(df.at[i,"gears"])==list:
        temp=df.at[i,"gears"][0]
        temp=temp.replace("\n","")
        df.at[i,"gears"]=temp

In [205]:
df.gears.value_counts()

6     5822
5     3239
7     1908
8      224
9        6
1        2
3        2
4        2
2        1
50       1
Name: gears, dtype: int64

### Feature: country_version

In [206]:
#country_version
df.country_version.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: country_version
Non-Null Count  Dtype
--------------  -----
7586 non-null   object
dtypes: object(1)
memory usage: 124.5+ KB

In [207]:
df.country_version.value_counts()

[\nGermany\n]           4502
[\nItaly\n]             1038
[\nEuropean Union\n]     507
[\nNetherlands\n]        464
[\nSpain\n]              325
[\nBelgium\n]            314
[\nAustria\n]            208
[\nCzech Republic\n]      52
[\nPoland\n]              49
[\nFrance\n]              38
[\nDenmark\n]             33
[\nHungary\n]             28
[\nJapan\n]                8
[\nSlovakia\n]             4
[\nCroatia\n]              4
[\nSweden\n]               3
[\nRomania\n]              2
[\nBulgaria\n]             2
[\nLuxembourg\n]           1
[\nSwitzerland\n]          1
[\nSlovenia\n]             1
[\nEgypt\n]                1
[\nSerbia\n]               1
Name: country_version, dtype: int64

In [208]:
for i in df.index:
    if type(df.at[i,"country_version"])==list:
        temp=df.at[i,"country_version"][0]
        temp=temp.replace("\n","")
        df.at[i,"country_version"]=temp

In [209]:
df.country_version.value_counts()

Germany           4502
Italy             1038
European Union     507
Netherlands        464
Spain              325
Belgium            314
Austria            208
Czech Republic      52
Poland              49
France              38
Denmark             33
Hungary             28
Japan                8
Slovakia             4
Croatia              4
Sweden               3
Romania              2
Bulgaria             2
Luxembourg           1
Switzerland          1
Slovenia             1
Egypt                1
Serbia               1
Name: country_version, dtype: int64

In [210]:
#it is not relevant to price prediction
df.drop("country_version", axis=1, inplace=True)

### Feature: safety_security

In [211]:
#check column of safety_security and see that there are null values
df.safety_security.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: safety_security
Non-Null Count  Dtype
--------------  -----
14937 non-null  object
dtypes: object(1)
memory usage: 124.5+ KB

In [212]:
#observe the count of values
#each row contains a list
df.safety_security.value_counts(dropna=False).head()

NaN                                                                                                                                                                                                                                                                       982
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                538
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                            480
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights]                          275
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]    272
Name: safety_security, dtype: int64

In [213]:
df["safety_security"] = [",".join(item) if type(item) == list else item for item in df["safety_security"]]

In [214]:
df["safety_security"].value_counts(dropna=False).head()

NaN                                                                                                                                                                                                                                                        982
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                               538
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                          480
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Xenon headlights                         275
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,LED Daytime Running Lights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control    272
Name: safety_security, dtype: int64

### Feature: extras

In [215]:
#check column of safety_security and see that there are null values
df.extras.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: extras
Non-Null Count  Dtype
--------------  -----
12957 non-null  object
dtypes: object(1)
memory usage: 124.5+ KB

In [216]:
#observe the count of values
#each row contains a list
df.extras.value_counts(dropna=False).head()

[Alloy wheels]                                 3245
NaN                                            2962
[Alloy wheels, Touch screen]                    697
[Alloy wheels, Voice Control]                   577
[Alloy wheels, Touch screen, Voice Control]     541
Name: extras, dtype: int64

In [217]:
df["extras"] = [",".join(item) if type(item) == list else item for item in df["extras"]]

In [218]:
df.extras.value_counts(dropna=False).head()

Alloy wheels                               3245
NaN                                        2962
Alloy wheels,Touch screen                   697
Alloy wheels,Voice Control                  577
Alloy wheels,Touch screen,Voice Control     541
Name: extras, dtype: int64

### Feature: entertainment_media

In [219]:
#check column of entertainment_media
df.entertainment_media.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: entertainment_media
Non-Null Count  Dtype
--------------  -----
14545 non-null  object
dtypes: object(1)
memory usage: 124.5+ KB

In [220]:
#check values
df.entertainment_media.value_counts(dropna=False).head()

NaN                                                                                 1374
[Bluetooth, Hands-free equipment, On-board computer, Radio, USB]                    1282
[Bluetooth, Hands-free equipment, MP3, On-board computer, Radio, USB]                982
[Bluetooth, CD player, Hands-free equipment, MP3, On-board computer, Radio, USB]     783
[On-board computer, Radio]                                                           487
Name: entertainment_media, dtype: int64

In [221]:
df["entertainment_media"] = [",".join(item) if type(item) == list else item for item in df["entertainment_media"]]

### Feature: comfort_convenience

In [222]:
#check column of comfort_convenience
df.comfort_convenience.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: comfort_convenience
Non-Null Count  Dtype
--------------  -----
14999 non-null  object
dtypes: object(1)
memory usage: 124.5+ KB

In [223]:
#check values
df.comfort_convenience.value_counts(dropna=False).head()

NaN                                                                                                                                                                                                                                                                                                                                                                     920
[Air conditioning, Electrical side mirrors, Hill Holder, Power windows]                                                                                                                                                                                                                                                                                                 216
[Air conditioning, Electrical side mirrors, Power windows]                                                                                                                                                                                                                                                                                                              134
[Air conditioning, Power windows]                                                                                                                                                                                                                                                                                                                                       130
[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system]    105
Name: comfort_convenience, dtype: int64

In [224]:
df["comfort_convenience"] = [",".join(item) if type(item) == list else item for item in df["comfort_convenience"]]

In [225]:
df.comfort_convenience.value_counts(dropna=False).head()

NaN                                                                                                                                                                                                                                                                                                                                                   920
Air conditioning,Electrical side mirrors,Hill Holder,Power windows                                                                                                                                                                                                                                                                                    216
Air conditioning,Electrical side mirrors,Power windows                                                                                                                                                                                                                                                                                                134
Air conditioning,Power windows                                                                                                                                                                                                                                                                                                                        130
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Start-stop system    105
Name: comfort_convenience, dtype: int64

In [226]:
#at the beginning there were 54 column, but now 33 columns
df.shape

(15919, 33)

In [227]:
df.head().T

,0,1,2,3,4
make_model,Audi A1,Audi A1,Audi A1,Audi A1,Audi A1
body_type,Sedans,Sedans,Sedans,Sedans,Sedans
price,15770,14500,14640,14500,16790
vat,VAT deductible,Price negotiable,VAT deductible,None,None
km,56013,80000,83450,73000,16200
type,Used,Used,Used,Used,Used
previous_owners,2.0,NaN,1.0,1.0,1.0
inspection_new,Yes,NaN,NaN,NaN,Yes
warranty,NaN,NaN,NaN,NaN,NaN
body_color,Black,Red,Black,Brown,Black
paint_type,Metallic,NaN,Metallic,Metallic,Metallic
nr_of_doors,5,3,4,3,5
nr_of_seats,5,4,4,4,5
gearing_type,Automatic,Automatic,Automatic,Automatic,Automatic
displacement,1422.0,1798.0,1598.0,1422.0,1422.0
cylinders,3.0,4.0,NaN,3.0,3.0
weight,1220.0,1255.0,NaN,1195.0,NaN
drive_chain,front,front,front,NaN,front
fuel,Diesel,Benzin,Diesel,Diesel,Diesel
co2_emission,99,129,99,99,109
emission_class,Euro 6,Euro 6,Euro 6,Euro 6,Euro 6
comfort_convenience,"Air conditioning,Armrest,Automatic climate con...","Air conditioning,Automatic climate control,Hil...","Air conditioning,Cruise control,Electrical sid...","Air suspension,Armrest,Auxiliary heating,Elect...","Air conditioning,Armrest,Automatic climate con..."
entertainment_media,"Bluetooth,Hands-free equipment,On-board comput...","Bluetooth,Hands-free equipment,On-board comput...","MP3,On-board computer","Bluetooth,CD player,Hands-free equipment,MP3,O...","Bluetooth,CD player,Hands-free equipment,MP3,O..."
extras,"Alloy wheels,Catalytic Converter,Voice Control","Alloy wheels,Sport seats,Sport suspension,Voic...","Alloy wheels,Voice Control","Alloy wheels,Sport seats,Voice Control","Alloy wheels,Sport package,Sport suspension,Vo..."
safety_security,"ABS,Central door lock,Daytime running lights,D...","ABS,Central door lock,Central door lock with r...","ABS,Central door lock,Daytime running lights,D...","ABS,Alarm system,Central door lock with remote...","ABS,Central door lock,Driver-side airbag,Elect..."
gears,NaN,7,NaN,6,NaN
age,3.0,2.0,3.0,3.0,3.0
hp_kW,66.0,141.0,85.0,66.0,66.0
upholstery_fabric,Cloth,Cloth,Cloth,NaN,Cloth
upholstery_color,Black,Grey,Black,NaN,Black
city_cons,4.3,7.1,4.4,4.3,4.6
country_cons,3.5,4.7,3.4,3.5,3.8
comb_cons,3.8,5.6,3.8,3.8,4.1

In [228]:
#save to csv file
df.to_csv('autoscout_data_cleaned.csv',index=False)